.psdatepicker-date {
    height: 40px;
    width: 140px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #000;
    padding-left: 15px;            
}

input::placeholder {
    color: gray;
    margin-left: 20px;
}

.psdatepicker-datepicker-container {
    height: 320px;
    width: 300px;
    flex-direction: column;            
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.psdatepicker-root{
    height: 380px;
    width: 300px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.psdatepicker-dateortine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    height: 40px;
    font-weight: bold; 
}

.psdatepicker-dateortine button {
    font-family: Arial, sans-serif;
    flex: 1;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    float: left;
    border: none;
    background-color: #EAEAEA;
    color: #7D7D7D;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.psdatepicker-month-buttons button{
    font-family: Arial, sans-serif;
    flex: 1;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    float: left;
    border: none;
    background-color: #FFFFFF;
    color: #7D7D7D;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.psdatepicker-confirm-buttons button {
    font-family: Arial, sans-serif;
    flex: 1;
    cursor: pointer;
    float: left;
    border: none;
    gap: 8px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.psdatepicker-confirm-buttonsCalendar button {
    font-family: Arial, sans-serif;
    flex: 1;
    font-size: 14px;
    cursor: pointer;
    float: left;
    border: none;
    gap: 8px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 51px;
    height: 20px;
}

.psdatepicker-dateortine button:hover {
    background-color: white;

}

.psdatepicker-dateortine button.selected-tab {
    background-color: white;
    color: #000;
    font-weight: bold;
}

.psdatepicker-time-container .psdatepicker-selectedMode{
    color: #FAAF56;
}

.psdatepicker-dateortine img{
   
    width: 20px;
    height: 20px;
    margin-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.psdatepicker-dateortine img::selecte {
    background-color: #979797 ;
}

.psdatepicker-month-buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px;           
    padding: 0;
    align-items: center;
}

.psdatepicker-days-of-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    gap: 5px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    
}

.psdatepicker-day {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.psdatepicker-day:hover {
    background-color: #ddd;
}

.psdatepicker-day.selected {
    background-color: #979797;
    color: white;
}

.psdatepicker-okBtnClass{
    display: flex;
    justify-content: flex-start; 
    position: relative;  
    margin-left: auto;  
    margin-right: 21px; 
    width: 51px;
    height: 20px;
}

.psdatepicker-navBtns{
    display: flex;
    gap: 20px;
}


.psdatepicker-day-of-week.faded {
    color: rgba(0, 0, 0, 0.4); 
    width: 10px;
    height: 10px;
}

.psdatepicker-day.past {
    color: rgba(0, 0, 0, 0.4); 
}

.psdatepicker-days-of-month {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    gap: 10px;
    padding: 10px;
    padding-bottom: 22px;
}

.psdatepicker-input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-right: 15px;
    width: 283px;
    height: 38px;
}

.psdatepicker-input-container input {
    flex: 1;
    border: none;
    outline: none;

}

.psdatepicker-input-container img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.psdatepicker-empty {
    visibility: hidden; 
}

.psdatepicker-year{
    display:flex;
    flex-direction: column;
    position:relative;
    display: inline-block;
    font-size: 16px;
    border: none;
    font-family: Arial;
    width: 100px;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
}

.psdatepicker-year select:focus {
    outline: none;
    border: none; 
}


.psdatepicker-days-of-week {
    justify-content: space-around; 
    border-bottom: 1px solid rgba(234, 234, 234, 1); 
    padding-bottom: 5px; 
    padding-left: 20px;
    gap: 10px;
}


.psdatepicker-days-of-week .psdatepicker-day-of-week {
    color: rgba(0, 0, 0, 0.5); 
    text-align: center;
    flex: 1; 
}

.psdatepicker-day.disabled {
    color: rgba(0, 0, 0, 0.3); 
    cursor: not-allowed;
    pointer-events: none; 
    background-color: rgb(255, 255, 255); 
}

.psdatepicker-clock-container{
    height: 340px;
    width: 300px;
}

.psdatepicker-confirm-buttonsCalendar{
    display: flex;
    margin-left: 10px;
    margin-bottom: 13px;
    margin-right: 10px;
    gap: 138px;
}

.psdatepicker-confirm-buttons {
    display: flex;
    margin-left: 21px;
    margin-bottom: 13px;
    gap: 20px;
}

.psdatepicker-confirm-buttons img{
    width: 20px;
    height: 20px;
}

.psdatepicker-okBtnClasstn {
    width: 51px;
    height: 20px;
}

.psdatepicker-confirm-buttons button {
    border: none; 
    background: none; 
    font-size: 14px;
    cursor: pointer;
}

.psdatepicker-confirm-buttons button:hover{
    background-color: #ddd;
}

.psdatepicker-confirm-buttonsCalendar button{
    background-color: #FFFFFF;
}

.psdatepicker-confirm-buttonsCalendar button:hover{
    background-color: #ddd;
}

.psdatepicker-confirm-buttons div:hover{
    background-color: #ddd;
}

.psdatepicker-time-container {
    font-family: Arial, sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 300px;
    height: 67px;
    border-bottom: 1px solid #EAEAEA; 
    text-underline-offset: 8px;
    cursor: pointer;
}

.psdatepicker-time-container .seltime {
    color: #FAAF56;
}

.psdatepicker-time-container .minute {
    text-decoration: underline;
}


.psdatepicker-time-container .second {
    text-decoration: underline;
}
.psdatepicker-time-container .hour {
    text-decoration: underline;
}
.psdatepicker-time-container .colon {
    text-decoration: none;
}
.psdatepicker-time-container .hourformat {
    margin-left: 8px; 
    font-weight: normal;
    text-decoration: underline;
}

.psdatepicker-time-container .minute:hover{
    color: #FAAF56;
}

.psdatepicker-time-container .hour:hover{
    color: #FAAF56;
}

.psdatepicker-time-container .second:hover{
    color: #FAAF56;
}

.psdatepicker-time-container .psdatepicker-hourformatId:hover{
    color: #FAAF56;
}

